@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
}

body{
    background-color: #F1F1F1;
}

/* ESTILO DA NAVEGAÇÃO */

.navigation__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}

.agaum{
    margin-left: 50px;
    font-weight: 700;
    color: #0F2182;
    font-size: 2rem;
}

.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
}

.menu li:hover{
    text-decoration: underline;
}

.button__container{
    margin-right: 50px;
}

.button__iniciar{
    background-color: black;
    color: white;
    margin-right: 20px;
    padding: 8px 9px;
    border-radius: 5px;
}

.button__login{
    background-color: transparent;
    color: black;
    margin-right: 20px;
    padding: 3px 7px;
    border-radius: 3px;
    border: none;
}
